/**
 * Univeral box-sizing reset
 */
html {
  @include prefixer(box-sizing, border-box, 'webkit' 'moz');
}

*, *::after, *::before {
  @include prefixer(box-sizing, inherit, 'webkit' 'moz');
}

/**
 * Body rules
 */
body {
  color: #414141;
  font: 300 1em/1.4 $text-font-stack;
  overflow: auto;
  margin: 0;
}


// font-style: normal
// font-variant: normal
// font-weight: normal
// font-stretch: normal
// font-size: medium
// line-height: normal
// font-family: depends on user agent

/**
 * Links
 */
a {
  transition: 0.15s;
  text-decoration: none;
  color: $water;

  &:hover {
    &, code {
      color: darken($water, 20%);
    }
  }
}

a.button {
  background-color: $water;
  color: #FFF;
  display: inline-block;
  font-weight: 400;
  padding: 0.4em 1em;
  text-align: center;
  margin-bottom: 2em;
  &:hover,
  &:focus {
    background-color: darken($water, 15%);
  }
}

/**
 * Vertical rhythm
 */
table p {
  margin: 0 0 ($vertical-rhythm / 3);
}

/**
 * Code
 */
:not(pre) > code {
  color: $primary-color;
  white-space: nowrap;
  font-weight: normal;
}

/**
 * Tables
 */
@include respond-to('small') {
  table, tbody, tr, td, th {
    display: block;
  }

  thead {
    @include visually-hidden($extend: false);
  }

  tr {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid $medium-grey;
  }

  td, th {
    &::before {
      content: attr(data-label) ': ';
      text-transform: capitalize;
      font-weight: 600;
    }

    p {
      display: inline;
    }
  }
}

/**
 * Headings
 */

 h1, h2, h3, h4, h5 {
  font-weight: 600;
 }

